<div style="font-family: 'Amaranth'; font-size:1.5em">
 

<div class="panel-group">
	<div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" style=" font-family: 'Amaranth'">
        Match Statistics
        </h2>
      </div>
   		<div class="panel-body">
			<div >
				<p>Match Name :  {{ matchdetails.roundName }}</p>
      	<p>Match Date: {{matchdetails.matchDate | date:"fullDate"}} </p>
      	<p> <a href="#/teams/{{matchdetails.team1Code}}/{{ matchdetails.team1Key }}"> {{matchdetails.team1Name }} </a>  VS <a href="#/teams/{{matchdetails.team2Code}}/{{ matchdetails.team2Key }}"> {{matchdetails.team2Name }} </a></p>
    		<p>{{matchdetails.team1Name }} Scored: {{matchdetails.team1Score }} points </p>
    		<p>{{matchdetails.team2Name }} Scored: {{matchdetails.team2Score }} points </p>

    	</div>

      		<div ng-if="matchdetails.team1Score > matchdetails.team2Score ">
      			Winner: {{matchdetails.team1Name }}
      		</div>
      		<div ng-if="matchdetails.team1Score < matchdetails.team2Score">
      			Winner: {{matchdetails.team2Name }}
      		</div>

      		<div ng-if="matchdetails.team1Score == matchdetails.team2Score ">
      			Match Draw
      		</div>
      		<div style="float:right" >
      		
    	    	<a href="#/allmatches">Back &rarr;</a>
        
      		</div>
    	</div>
    </div>

</div>


</div>