<div ng-controller="mainController">
<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
   			Team Statistics
        </h4>
      </div>
        <div class="panel-body">

        	<p>Total Matches played by {{a[teamid]}} :{{match[teamid]}}</p>
        	<p>Total Goals Scored : {{scores[teamid]}}</p>
        	<p>Total Matches won: {{wins[teamid]}}</p>
          <p>Total Matches Lost: {{match[teamid] - ( wins[teamid] + draws[teamid] )}} </p>
          <p>Total Matches draw: {{draws[teamid]}}</p>
          <p>Win percentage of the team: {{ (wins[teamid]/match[teamid]) * 100 | number:2}} %</p>
        	<div style="float:right" >
      		
    	    	<a href="#/teamstats">Back &rarr;</a>
        
      		</div>
        </div>
    </div>
  </div>

	
		
		
</div>